@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}
